.course-list {
    list-style: none;
    display: block;
    width: 40%;
    /* border: 1px solid #082457; */
    border-radius: 5px;
    margin: 0 50px;
    padding: 20px;
    background-color: #fff;
}

.course-list > li {
    border: 1px solid #082457;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #324974;
    color: #fff;
}