.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-form {
    background-color: #fff;
    width: 40%;
    display: block;
    margin: 50px 50px;
    padding: 20px;
    line-height: 2rem;
    /* border: 1px solid #0a3483; */
    border-radius: 5px;
}

.course-input {
    display: flex;
    flex-direction: column;
}

.course-input > label {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #082457;
}

.course-input > input {
    width: 100%;
    font-size: 16px;
    color: #082457;
    padding: 10px 0;
    box-sizing: border-box;
    border: 2px solid #082457;
    border-radius: 5px;
}

.course-button {
    background-color: #324974;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #082457;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.course-button:hover {
    background-color: #082457;
    color: #fff;
}